<!-- <div class="container-fluid">
  <nb-alert status="success" *ngIf="stateMessage == 'success'" closable (close)="onClose()" class="mt-0">
    <i class="fa fa-exclamation fa-lg">&nbsp;&nbsp;<strong class="h6 text-white">{{message}}</strong></i>
  </nb-alert>

</div> -->

<!-- <div class="container-fluid"> -->
  <nb-alert status="success" *ngIf="stateMessage == 'success'" closable (close)="onClose()" class="mt-0">
    <i class="fa fa-exclamation fa-lg">&nbsp;&nbsp;<strong class="h6 text-white">{{message}}</strong></i>
  </nb-alert>
<!-- </div> -->

<!-- <div class="container-fluid"> -->
  <nb-alert status="danger" *ngIf="stateMessage == 'danger'" closable (close)="onClose()" class="mt-0">
    <i class="fa fa-exclamation fa-lg">&nbsp;&nbsp;<strong class="h6 text-white">{{message}}</strong></i>
  </nb-alert>
<!-- </div> -->

  <!-- <div *ngIf="stateMessages.success" id="success_message" class="alert alert-success" >
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <div class="Message-icon">
      <i class="fa fa-exclamation"></i>
    </div>
    <div class="Message-body">
      <strong>{{message}}</strong>
      <span></span>
    </div>
  </div> -->
  
  <!-- <div id="information_message" class="alert alert-info rounded" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <div class="Message-icon">
      <i class="fa fa-info-circle"></i>
    </div>
    <div class="Message-body">
      <strong></strong>
      <span></span>
    </div>
  </div>
  
  <div id="warning_message" class="alert alert-warning alert-white rounded" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <div class="Message-icon">
      <i class="fa fa-warning"></i>
    </div>
    <div class="Message-body">
      <strong></strong>
      <span></span>
    </div>
  </div>
  
  <div id="error_message" class="alert alert-danger rounded" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <div class="Message-icon">
      <i class="fa fa-times-circle"></i>
    </div>
    <div class="Message-body">
      <strong></strong>
      <span></span>
    </div>
  </div> -->