<div class="container">
						
    <div class="row" style="padding-top:30px;">
  
        <div class="col-lg-12" *ngIf="items?.length > 0">
            <nb-card status="info" class="cards card-shadow">
                <nb-card-header>
                    <!-- <div class="panel-title"> -->
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <i class="fas fa-shopping-cart"></i>&nbsp; Shopping Cart
                            </div>
                            <div class="col-lg-3 ml-auto">
                                <a nbButton status="primary" href="javascript:history.back()" class="btn btn-secondary mr-2" >Continue Shopping</a>  
                                <a nbButton status="danger" routerLink="landing/cart" routerLinkActive="active" (click)="cleaCarrito()" class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp;Clean</a>
                            </div>
                            <!-- <div class="col-lg-3 ml-auto">
                                <a routerLink="/cart" routerLinkActive="active" (click)="cleaCarrito()" class="btn btn-danger float-right"><i class="fas fa-trash"></i>&nbsp;Vaciar</a>  
                            </div> -->
                        </div>
                    <!-- </div> -->
                </nb-card-header>
                <nb-card-body class="text-center lead">
                    <div>
                        <div class="row pt-2 pb-2 border-bottom" *ngFor="let item of items">
                                <div class="col-lg-2"><img width="100%" src="/assets/images/empty.png"/></div>
                                
                                <div class="col-lg-5">
                                    <h4 class="product-name"><strong><span>{{item.nombre}}</span></strong></h4><h4><small><span>{{item.descripcion}}</span></small></h4>
                                </div>
                                <div class="col-lg-5 my-auto">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-6 text-right">
                                                    <h5><strong><span class="text-muted">$ </span><span>{{item.precio}}</span></strong></h5>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div  aria-label="Basic example">
                                                        
                                                        <a class="btn btn-light btn-sm" (click)="restar(item.id)">-</a> 
                                                        <h3><span>{{item.cantidad}}</span></h3>
                                                        <a class="btn btn-light btn-sm" (click)="sumar(item.id)">+</a> 

                                                    </div>
                                                    
                                                </div>
                                                <div class="col-lg-2">
                                                    <a class="btn btn-link btn-xs" (click)="remove(item)"><i class="fas fa-trash-alt fa-lg"></i></a>
                                                
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>	
                                </div>
                            <hr>
                        </div>
                    </div>	
                    
                    <div class="row">
                            
                            <div class="col-lg-12 mt-3">
                                <h4 class="text-right">Total <strong><span class="text-muted">$ </span><span>{{totalPrice}}</span></strong></h4>
                            </div>
                        <hr>
                    </div>
                    <hr>
                    <div class="row">
                        
                        <div class="col-lg-3 ml-auto">
                            <!-- <form id="productoForm" name="productoForm" action="/cart/checkout/guardar" method="GET"> -->
                                <a nbButton status="success" routerLink="/checkout" id="btnContinuar" routerLinkActive="active"  class="btn btn-success float-right">&nbsp;Continuar</a> 
                                <!-- <input id="btnContinuar" class="btn btn-success float-right" value="Continuar"/> -->
                            <!-- </form> -->
                        </div>
                    </div>
                    
                </nb-card-body>
              
            </nb-card>
        </div>
    </div>

    <div class="col-lg-12 p-5" *ngIf="items?.length <= 0">
            
        <div class=" col-lg-12 mx-auto">
            <h1 class="clear no-result text-center">Your Cart</h1>
            <p class="clear no-result text-center"><small>Your cart is currently empty.</small></p>
            
        </div>	
        <div class="col-lg-4 col-offset-4 mx-auto">
            <a class="btn btn-primary btn-lg btn-block text-dark" routerLink="/landing/catalogo" routerLinkActive="active">Continue shopping</a>
        </div>	
    
    </div>
</div>