
  <div class="header-container">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <!--<a class="logo" href="/" (click)="navigateHome()"><img src='/../../../assets/images/logo.png'></a> -->
      <!--<a class="logo" href="/" (click)="navigateHome()"><img [src]='logoUrl'></a>-->
      <a class="logo" href="/" routerLink='/' routerLinkActive="active" (click)="navigateHome()"><img [src]="logoURL.url"></a>
    </div>
     <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary" class="col-lg-6 col-xl-6">
      <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
    </nb-select> -->
    <!-- <ngx-layout-direction-switcher class="direction-switcher"></ngx-layout-direction-switcher> -->
  </div>

  <div class="header-container ">
    <nb-actions size="small">
      <!-- carga los items del nav -->
      <!-- <div *ngFor="let item of menu ; let i = index" > -->
        <nb-action  class="control-item p-0 " *ngFor="let item of getMenuByRole()"   [title]='item.title'  >
    
          <nb-user  class="ml-3" *ngIf="item.user_image"
              [name]="userName"
             [picture]="user.url">
          </nb-user>
          <a nbButton ghost [routerLink]='item.link' routerLinkActive="active" class="ml-1">
            
          <nb-icon [icon]="item.icon" pack="eva" class="ml-1"></nb-icon>
          <span>{{item.text}}</span>
          </a>
         
          <!-- <a (click)="this[item.function]()" > -->
            <!-- <nb-icon  pack="eva"></nb-icon>  -->
            <!-- <span >{{item.text}}</span> -->
            <!-- </a>  -->
            <!-- <nb-search type="rotate-layout" (click)="salir()"></nb-search> -->
            <!-- <a nbButton ghost  (click)="salir()">
              
            </a> -->
        </nb-action> 
          
        <!-- <p>{{username}}</p> -->
    </nb-actions>

  </div>