<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">

    <form class="form-inline">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <input type="text" nbInput fullWidth placeholder="Jane Doe">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <input type="text" nbInput fullWidth placeholder="Email">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <nb-select placeholder="Provincia"  class="nonePadding col-xs-12 col-sm-12 col-md-3 col-lg-12 col-xl-12">
            <!-- <nb-option *ngFor="let option of options" value="option.id">{{option.value}}</nb-option> -->

          </nb-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <button type="submit" nbButton status="primary">Agregar</button>
        </div>
      </div>
    </form>
   
  </div>
</div>