<div class="row">
  <div class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
    <nb-card>
      
      <nb-card-header>Nuevo Libro</nb-card-header>
      <nb-card-body>

        <form [formGroup]="bookForm" (ngSubmit)="edit ? updateBook() : saveBook()" novalidate>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
              <div class="row">
        
                <div class="col-md-12 mb-3">
                  <label class="label">Nombre</label>
                  <input nbInput fullWidth formControlName="nombre" [(ngModel)]="book.nombre" class="form-control" required>
                  <!-- Showing errors using getter method -->
                  <p *ngIf="nombre.touched && nombre.invalid" class="error text-danger"><sup>*</sup>Please enter atleast first name</p>
                  <p *ngIf="nombre.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-3">
                  <label class="label">Autor</label>
                  <input nbInput fullWidth formControlName="autor" [(ngModel)]="book.autor" class="form-control">
                  <!-- Showing errors using getter method -->
                  <p *ngIf="autor.touched && autor.invalid" class="error text-danger"><sup>*</sup>Please provide surname</p>
                  <p *ngIf="autor.errors?.minlength" class="error"><sup>*</sup>Surname shouldn't be less than 2 words</p>
                </div>
        
              </div>
        
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label class="label">Editorial</label>
                  <input nbInput fullWidth formControlName="editorial" [(ngModel)]="book.editorial" class="form-control" required>
                  <!-- Showing errors using getter method -->
                  <p *ngIf="editorial.touched && editorial.invalid" class="error text-danger"><sup>*</sup>Please provide email</p>
                  <p *ngIf="editorial.errors?.pattern" class="error"><sup>*</sup>Please enter correct email</p>
                </div>
              </div>  

              <div class="row">  
                <div class="col-md-12 mb-3">
                  <label class="label">Genero</label>
                  <input nbInput fullWidth formControlName="genero" [(ngModel)]="book.genero" class="form-control" required>
                  <!-- Showing errors using getter method -->
                  <p *ngIf="genero.touched && genero.invalid" class="error text-danger"><sup>*</sup>Please provide user</p>
                  <p *ngIf="genero.errors?.minlength" class="error text-danger"><sup>*</sup>User shouldn't be less than 2 words</p>
                </div>
        
              </div>

              <div class="row">
        
                <div class="col-md-12 mb-3">
                  <label class="label">Paginas</label>
                  <!-- <fieldset [disabled]="edit"> -->
                    <input nbInput fullWidth type="number" formControlName="pages_number" [(ngModel)]="book.pages_number" class="form-control" required>
                  <!-- </fieldset> -->
                  <!-- Showing errors using getter method -->
                  <p *ngIf="pages_number.touched && pages_number.invalid" class="error text-danger"><sup>*</sup>Please provide password</p>
                  <p *ngIf="pages_number.errors?.minlength" class="error text-danger"><sup>*</sup>Name shouldn't be less than 2 words</p>
                </div>
              </div>

              <div class="row">
        
                <div class="col-md-12 mb-3">
                  <label class="label">Año</label>
                  <input nbInput fullWidth formControlName="year" type="number" [(ngModel)]="book.year" class="form-control" required>
                  <!-- Showing errors using getter method -->
                  <p *ngIf="year.touched && year.invalid" class="error text-danger"><sup>*</sup>Please provide address</p>
                  <p *ngIf="year.errors?.minlength" class="error text-danger"><sup>*</sup>Name shouldn't be less than 2 words</p>
                </div>
              </div>

              <div class="row">
        
                <div class="col-md-12 mb-3">
                  <label class="label">Precio</label>
                  <input nbInput fullWidth formControlName="precio" type="number" [(ngModel)]="book.precio" class="form-control" required>
                  <!-- Showing errors using getter method -->
                  <p *ngIf="precio.touched && precio.invalid" class="error text-danger"><sup>*</sup>Please provide date</p>
                  <p *ngIf="precio.errors?.minlength" class="error text-danger"><sup>*</sup>Name shouldn't be less than 2 words</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-3">
                  <label class="label">Descripcion</label>
                  <textarea nbInput fullWidth formControlName="descripcion" [(ngModel)]="book.descripcion" class="form-control" required></textarea>
                  <!-- Showing errors using getter method -->
                  <p *ngIf="descripcion.touched && descripcion.invalid" class="error text-danger"><sup>*</sup>Please provide description</p>
                  <p *ngIf="descripcion.errors?.minlength" class="error text-danger"><sup>*</sup>Name shouldn't be less than 2 words</p>
                </div>
              </div>
              
              <div class="row">
        
                <div class="col-md-12 mb-3">
                  <!-- <label class="label">Documento</label> -->
                  <nb-checkbox fullWidth formControlName="activo" [(ngModel)]="book.activo" status="control">Activo?</nb-checkbox>
                  <!-- <input nbInput fullWidth formControlName="documento" [(ngModel)]="user.documento" class="form-control" required> -->
                  <!-- Showing errors using getter method -->
                  
                </div>
              </div>
        
              <div class="form-group text-right">
                <button nbButton class="btn btn-secondary gap-right ml-1" [disabled]="edit" (click)="resetForm()">Limpiar</button>
                <button nbButton type="submit" class="btn btn-success ml-1" [disabled]="!bookForm.valid">Guardar</button>
              </div>
        
            </div>
          </div>
        </form>
        
        <!-- <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputFirstName" class="label">Nombre del libro</label>
              <input type="text" [(ngModel)]="book.nombre" nbInput fullWidth id="inputFirstName" >
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputLastName" class="label">Autor</label>
              <input type="text" [(ngModel)]="book.autor" nbInput fullWidth id="inputLastName" >
            </div>
          </div>
        
        
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputEmail" class="label">Editorial</label>
              <input type="email" [(ngModel)]="book.editorial" nbInput fullWidth id="inputEmail" >
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputWebsite" class="label">Genero</label>
              <input type="text" [(ngModel)]="book.genero" nbInput fullWidth id="inputWebsite" >
            </div>
          </div>
        
        
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputEmail" class="label">Paginas</label>
              <input type="email" [(ngModel)]="book.pages_number" nbInput fullWidth id="inputEmail" >
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputWebsite" class="label">Año</label>
              <input type="text" [(ngModel)]="book.year" nbInput fullWidth id="inputWebsite" >
            </div>
          </div>
        
        
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputEmail" class="label">Precio</label>
              <input type="email" [(ngModel)]="book.precio" nbInput fullWidth id="inputEmail" >
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <nb-checkbox [(ngModel)]="book.activo" status="control">Activo?</nb-checkbox>
            </div>
          </div>
        </div>
        <button nbButton (click)="edit ? updateBook() : saveBook()">Save</button> -->
    
      </nb-card-body>
     
    </nb-card>
  </div>
</div>