.footer {
    width: 100%;
    padding: 35px; 
    background-color: #1E455F;
}

.footer h4{
	color:white;
}

.footer h6{
	color:white;
}

.footer a{
	color:white;
}

.footer a:link{
	text-decoration:none;

}

.footer p{
	color:white;
}