<div >

  <!-- filtros de consulta -->
  <nb-card>
    <nb-card-header><h6>Filtros de busqueda</h6></nb-card-header>
    <nb-card-body>
      <div class="container-fluid">
        <br>
        <consulta-libro-filtro></consulta-libro-filtro>
      </div>  
    </nb-card-body>
  </nb-card>

  <!-- listado de libros -->
  <nb-card>
    <nb-card-header><h6>Listado de libros</h6></nb-card-header>
    <nb-card-body>
      <div class="container-fluid">
        <br>      
        <consulta-libro-lista></consulta-libro-lista>
        <br>
      </div>  
    </nb-card-body>
  </nb-card>

</div>