<div class="container">
		
    <!-- Portfolio Item Heading -->
    <h1 class="my-4 pt-5">Detalle del producto
  <!-- 		  <small>Secondary Text</small> -->
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="/assets/images/empty.png"/>
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3 lead"><strong><span>{{book.nombre}}</span></strong></h3>
        
        <h5><strong><span class="text-muted">$ </span><span>{{book.precio}}</span></strong></h5>
      
          <h3 class="my-3">Descripcion</h3>
          <p><span>{{book.descripcion}}</span></p>
          
          
          <a href="#" class="btn btn-info btn-block"><i class="fas fa-shopping-cart"></i>&nbsp;ADD TO CART</a>
          
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt=""/>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt=""/>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt=""/>
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt=""/>
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->